@page
@model MovieSongSearch.Pages.SongModel
@using SongDatabase;
@{
    int counter = 0;
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="~/css/mobile.css" type="text/css" media="screen and (max-device-width: 480px)" />

</head>

<body>
<div> 
    <h3>
        Find soundtracks from various artists and movies here!
    </h3>
</div>

<div>
    <div class="row">
        <div class="col">
            <form action="" method="get" class="form-inline">
                <input asp-for="Query" name="query" id="query" class="form-control mr-sm-2 mb-2" placeholder="Search for Music" />
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
    </div>
</div>


<div>
    @if (Model.SearchCompleted)
    {
        @foreach (Result r in Model.songs.Results)
        {
            <hr class="featurette-divider">
            <div class="row featurette">
                <div>
                    <div style="float:right">
                        <div class="col-sm-10">
                            <p class="lead"><img src="@r.ArtworkUrl100" alt="@r.ArtistName/@r.CollectionName Photo" /></p>
                        </div>
                    </div>
                    <dl class="row">
                        <div>
                            <dt class="col-sm-2">
                                Artist :
                            </dt>
                            <dd class="col-sm-10">
                                @r.ArtistName
                            </dd>
                        </div>
                        <div>
                            <dt class="col-sm-2">
                                Collection Name :
                            </dt>
                            <dd class="col-sm-10">
                                @r.CollectionName
                            </dd>
                        </div>
                        
                        <div>
                            <dt class="col-sm-2">
                                Track :
                            </dt>
                            <dd class="col-sm-10">
                                @r.TrackName
                        </div>
                        <div>
                            <dt class="col-sm-2">
                                Genre : 
                            </dt>
                            <dd class="col-sm-10">
                                @r.PrimaryGenreName
                            </dd>
                        </div>
                        
                        <div>
                           
                            <dd class="col-sm-10">
                                <p class="lead"><a href="@r.ArtistViewUrl" target="_blank">Know more about Artist</a></p>
                                <p class="lead"><a href="@r.CollectionViewUrl" target="_blank">View Collection</a></p>
                            </dd>
                        </div>
                  
                    
                </div>
            </div>
            counter++;
            if (counter == 5)
            {
                break;
            }
        }

    }
</div>
</body>
